/* desktop / tablets */

@media screen and (min-width: 601px) {
    .font-courier-s-alpha {
        font-family: 'Courier New', Courier, monospace;
        font-size: 1rem;
        font-weight: 400;
        line-height: 0.95rem;
        color: rgba(255, 255, 255, 0.603);
    }
}


/* general mobile */

@media screen and (max-width: 600px) {
    .font-courier-s-alpha {
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 0.95rem;
        color: rgba(255, 255, 255, 0.603);
    }
}