.heading-sans-m {
    font-family: Verdana, sans-serif;
    font-size: 2.75rem;
    font-weight: bolder;
}

@media screen and (max-width: 600px) {
    .heading-sans-m {
        /* font-family: Verdana, sans-serif; */
        font-size: 1.75rem;
        /* font-weight: bolder; */
    }
}