/* desktops / tablets */

@media screen and (min-width: 601px) {
    .img-fancify {
        margin: 0.625rem 0.313rem;
        filter: drop-shadow(16px 16px 10px rgba(156, 156, 156, 0.507));
    }
}


/* mobile */

@media screen and (min-width: 601px) {
    .img-fancify {
        margin: 0.625rem 0.313rem;
        /* filter: drop-shadow(16px 16px 10px rgba(156, 156, 156, 0.507)); */
    }
}